<aboutme >
    <div class="h-screen bg-yellow-400 rounded-3xl">
        <h1 class="text-3xl text-center p-4 sm:text-7xl  ">About me</h1>
        <div class="flex flex-col  h-96 items-center text-center">
            <div class="flex h-33 flex-col sm:flex-row text-center">
                <div class="m-10 w-1/2 flex sm:flex-col md:flex-row justify-between items-center">
                    <div class="items-center ">
                        <h1 class="text-md sm:text-xl md:text-4xl mb-5 font-extrabold">MY NAME</h1>
                        <p class="text-sm sm:text-base font-semibold text-stone-800">H. Ezgi Karakas Schuller</p>
                    </div>
                    <div>
                        <img class="width: 100 px; border-radius: 50px; float: left; margin-right: 10px" src="https://pbs.twimg.com/profile_images/1190020604667334657/Te17iIel_400x400.jpg" alt="">
                    </div>
                </div>
                <div class="m-10 w-1/2 flex flex-col sm:flex-row justify-between items-center">
                    <div>
                        <h1 class="sm:text-xl md:text-4xl  mb-5 font-extrabold">E-MAIL</h1>
                        <p class="text-sm md:text-base font-semibold text-stone-800">hezgikarakasschuller.com</p>
                    </div>
                    <div>
                        <img class="hidden sm:inline-block sm:w-24 md:w-48  rounded-full" src="https://cdn1.vectorstock.com/i/1000x1000/66/75/icon-mail-email-isolated-sign-trendy-mail-symbol-vector-23266675.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="flex h-33 flex-col sm:flex-row m-5 text-center">
                <div class="m-10 w-1/2 flex justify-between sm:flex-col md:flex-row items-center">
                    <div>
                        <h1 class="sm:text-xl md:text-4xl  mb-5 font-extrabold">PHONE</h1>
                        <p class="text-sm inline-block sm:text-base font-semibold text-stone-800">+ 0123456789</p>
                    </div>
                    <div>
                        <img class="hidden sm:inline-block sm:w-24 md:w-48 rounded-full" src="https://i.pinimg.com/originals/f8/ed/4b/f8ed4b8e28b1b1f3e7ec638c4f93abef.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</aboutme>
