<footer class="bg-yellow-400 py-5 mt-5 px-10">
    <div class="container mx-auto my-16 text-gray-400 font-medium flex flex-col items-center gap-y-10 sm:flex-row sm:items-start sm:justify-around">
        <div>
            <h2 class="text-4xl font-extrabold text-[#000000]">Please reach me</h2>
            <h4 class="text-[#000000] text-2xl font-extrabold mt-4">Contact Info</h4>
            <p class="font-semibold text-[#000000] mt-2 leading-relaxed">
               <hezgikarakasschuller class="gmail com"></hezgikarakasschuller><br>
            </p>
        </div>
        <div>
            <h5 class="text-xl font-bold text-[#000000]">Links</h5>
            <div class="flex flex-col mt-4 gap-2">
                <a href="#" class="text-[#000000] hover:text-white hover:cursor-pointer">Home</a>
                <a href="#aboutme" class="text-[#000000] hover:text-white hover:cursor-pointer">About me</a>
                <a href="#education" class="text-[#000000] hover:text-white hover:cursor-pointer">Education</a>
            </div>
        </div>
    </div>
    <hr class="mx-20">
    <div class="h-32 flex flex-col justify-evenly items-center">
        <div class="flex flex-row gap-3 mt-4">
            <a href="https://www.linkedin.com/in/hezgikarakasschuller/" target="_blank" rel="noopener noreferrer">
               <i class='bx bxl-linkedin bx-sm text-[#000000] hover:text-white' ></i>
            </a>
        </div>
        <p class="text-[#000000]">All rights reserved by © hakaraka 2023</p>
    </div>
</footer>